[Unit]
Description=Website messenger-consume anime_episode_download %i
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/your/app
ExecStart=/path/to/php /path/to/your/app/bin/console messenger:consume anime_episode_download -vv --limit=5
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target