{% extends 'base.html.twig' %}

{% block title %}Passwords{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passwords') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('passwords') }}
{% endblock %}

{% block body %}
    <div id="root">
    </div>
{% endblock %}
